<div class="card" style="width: 25rem;">
    
        <div class="card-header">
                <!-- <li class="list-group-item">Employee Name: {{empDetails.name}}, </li> -->
                Name: {{employeeDetailsDisplay.empName}}
                <ul class="list-group-item">
                        <div class="card-body">
                                <!-- <li class="list-group-item"> -->
                                    Address: {{employeeDetailsDisplay.address}}
                                <!-- </li> -->
                        </div>
                    </ul>
        </div>
        
</div> 